.page-header
  = link_to receipts_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_receipt_path(@receipt), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show receipt
%dl.dl-horizontal
  %dt Shopping date:
  %dd= @receipt.shopping_date
